$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

.container {
    width: 960px;
    margin: 0 auto;
    padding-top: 15px;
}

.stopwatch {
    .stopwatch-controls {
        [data-action="toggle"].stop {
            background-color: $brand-warning;
        }
    }

    .stopwatch-laps {
        margin-top: 20px;

        .alert {
            position: relative;
            font-size: 1.3em;

            .close {
                cursor: pointer;
                background-color: $brand-danger;
                color: #fff;
                opacity: 1;
                border-radius: 5px;
                padding: 0 4px 2px;
            }
        }
    }
}