.tag-manager {

  &__list {
    .active {
      a {
        color: #fff;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__tasks {}

  &__scroller {
    height: 250px;
    overflow-y: scroll;
  }
}
