[class^=icon] {
        background-image: url($images-dir);
        background-repeat: no-repeat;
        display: inline-block;
        width: 130px;
        height: 130px;
}

.icon {
    &-1 { background-position: 0 0; }
    &-10 { background-position: -130px 0;}
    &-2 { background-position: -260px 0; }
    &-3 { background-position: 0 -130px; }
    &-4 { background-position: -130px -130px; }
    &-5 { background-position: -260px -130px; }
    &-6 { background-position: 0 -260px; }
    &-7 { background-position: -130px -260px; }
    &-8 { background-position: -260px -260px; }
    &-9 { background-position: -390px 0; }
}