.outer, .inner, .text { padding: 20px; }
.outer { background-color: #f00; }
.inner { background-color: #00f; }
.text { background-color: #ff0; }

.tree {
    ul {
        display: none;
        
        &.open { display: block; }
    }

    li {
        > span:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }
}