$close-sub-menu:    '\25b6';
$open-sub-menu:     '\25bc';
$images-dir:        './../images/spritesheet.png';

@import 'sprites';

ul {
    list-style: none;
}

.menu {
    padding-left: 0;

    .item {
        text-decoration: none;
        color: #000;

        &:before {
            display: inline;
            color: #0f0;
            content: $close-sub-menu;
        }
        &.open:before {
            content: $open-sub-menu;
        }
    }

    .sub-menu {
        display: none;
    }

    .item.open ~ .sub-menu {
        display: block;
    }
}

.panes {
    .pane {
        position: relative;
        background: #edf5e1;
        padding: 10px 20px 10px;
        border-top: solid 2px #c4df9b;

        .title {
            margin: 0;
            padding-bottom: .3em;
            font-size: 1.1em;
        }

        p {
            margin: 0;
            padding: 0 0 .5em;
        }

        .remove-button {
            position: absolute;
            font-size: 110%;
            color: darkred;
            top: 5px;
            right: 10px;
            width: 24px;
            height: 24px;
            border: none;
            background: transparent;
        }
    }
}

.carousel {
    position: relative;
    width: 398px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;

    .arrow-prev, .arrow-next {
        position: absolute;
    }

    .arrow-prev { left: 0; }
    .arrow-next { right: 0; }

    .carousel-gallery {
        width: 390px;
        overflow: hidden;

        .carousel-items {
            height: 130px;
            width: 9999px;
            margin: 0;
            padding: 0;
            list-style: none;
            transition: margin-left 250ms;
            /* remove white-space between inline-block'ed li */
            /* http://davidwalsh.name/remove-whitespace-inline-block */
            font-size: 0;

            .item {
                display: inline-block;
            }
        }
    }
}