$primary-color: #8E41D5;
$menu-border:   #f6f6f6;
$menu-bg:       #fff;
$font-family:   sans-serif;

.menu {
    position: absolute;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid $menu-border;
    }

    .context-menu {
        > li { position: relative; }

        .item {
            background-color: $menu-bg;
            white-space: nowrap;

            a {
                display: block;
                text-decoration: none;
                padding: 5px 15px;
                color: $primary-color;
                font-family: $font-family;

                .icon-submenu {
                    float: right;
                    padding-left: 10px;
                    margin-right: -10px;
                }
            }

            &:hover {
                background-color: $menu-border;

                .sub-menu { display: block; }
            }

            .sub-menu {
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }
    }
}

.icon-submenu {
    display: inline-block;

    &:after {
        content: '>';
    }
}

.header {
    background-color: #f00;
    padding: 10px;

    .logo {
        background-color: #00f;
        color: #fff;
        padding: 10px;

        h1 {
            margin: 0;
        }
    }
}